
/* Landing and Login/Signup */
.form {
  text-align:  center;
}
/* Home Screen Stuff! */
.home-screen-background{
  background-image: url('./Assets/homeBG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}
.home-screen-header {
  text-align: center;
  background-color:rgb(12, 12, 12);
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}
.level-select-container{
  display: flex;
  width: 30%;
  height: auto;
  margin-left: 35%;
  padding-top: 2%;
  padding-bottom: 2%;
  align-items: center;
  justify-content: center;
  background-color: rgb(11, 10, 10);
  border-top: inset #7D1F87 4px;
  border-left: inset #7D1F87 4px;
  box-shadow: 3px 3px 0px 0px #006461;
  border-radius: 4px;
}
.hvr-sweep-to-right {
  margin-left: -40%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  margin-bottom: 4%;
  border-radius: 4px;
  padding: 20%;
  font-size: 16px;
  background-color: #5B6687;
  border-color: rgb(165, 158, 169);
  min-width: 180%;
  max-width: 180%;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #018f8a;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* Game Display! */
/* container - grid - target - img */
.score-container {
  margin-top: 1%;
  align-items: center;
  justify-content: center;
  float: left;
  width: 80%;
  display: flex;
}
.strikes {
  align-items: center;
  justify-content: center;
  width: 15%;
  height: auto;
  margin-left: 25%;
  background-color: #223553;
  border-color: #344257;
  border-style: ridge;
  border-width: 3px;
  border-radius: 2px;
  min-width: 20%;
  max-width: 20%;
  min-height: 8%;
  max-height: 8%;
}
.strikes-tile {
  float: left;
  height: auto;
  margin-left: 8%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 1%;  
  border-width: 1px;
  background-color: #18FCFF;
  box-shadow: -1px -1px #009994; 
  transition: 0.2s;
}
.strikes-img {
  width: 8%;
  margin-left: 5%;
  height: 8%;
}
.level-score{
  align-items: center;
  justify-content: center;
  width: 15%;
  margin-left: 1%;
  background-color: #223553;
  border-color: #344257;
  border-style: ridge;
  border-width: 3px;
  border-radius: 2px;
}
.tile-grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.tile-grid {
  float: left;
  width: 40%; 
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
  padding: 5px;
  border-top: inset #7D1F87 4px;
  border-left: inset #7D1F87 4px;
  box-shadow: 3px 3px 0px 0px #009994;
  border-radius: 5px;
  background-image: url('./Assets/gridBg.png');
}
.tile-target {
  min-width: 24%;
  max-width: 24%;
  min-height: 24%;
  max-height: 24%;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 10px;
  border-color: #223553;
  border-style: solid;
  border-width: 2px;
  background-color: #18FCFF;
  box-shadow: -1px -1px #009994; 
  transition: 0.2s;
  border-radius: 5px;
  cursor: url('./Assets/mouseTarget.png'), auto;
}
.tile-img {
  max-width: 100%;
  max-height: 20%;
}

.level-one {
  background-image: url('./Assets/levelOneBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.level-two {
  background-image: url('./Assets/levelTwoBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.level-three {
  background-image: url('./Assets/levelThreeBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  /* position: relative; */
  border-radius: 4px;
  padding: 20px;
  font-size: 16px;
  background-color: rgb(189, 195, 218);
  margin-left: 42%
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #223553 solid 1px;
  border-radius: 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}