
/* Landing and Login/Signup */
.form {
  text-align:  center;
}

/* Home Screen Stuff! */
.home-screen-header {
  text-align:  center;
}
.home-screen-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
}

/* Game Display! */
.tile-grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tile-grid {
  float: left;
  width: 410px;
  margin-left: 20px;
  margin-top: 10%;
  padding: 5px;
  border-color: #D125DC;
  border-style: inset;
  border-width: 5px;
  background-image: url('./Assets/gridBg.png');
  
}
.tile-target {
  min-width: 90px;
  min-height: 80px;
  float: left;
  margin-left: 16px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px;
  border-color: #223553;
  border-style: solid;
  border-width: 2px;
  background-color: #18FCFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.tile-img {
  max-width: 90px;
  max-height: 90px;
}
.level-score{
  align-items: center;
  justify-content: center;
  width: 138px;
  margin-left: 518px;
  background-color: #223553;
  border-color: #344257;
  border-style: ridge;
  border-width: 3px;
}
.level-one {
  background-image: url('./Assets/levelOneBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.level-two {
  background-image: url('./Assets/levelTwoBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.level-three {
  background-image: url('./Assets/levelThreeBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}